body {
  font-family: Arial;
}

.App {
  text-align: center;
}

.container {
}

/***********Title******************/
.title-container {
  border: 2px solid red;
  width: 100%;
  text-align: center;
}

/**********Challenge slider*******/
.challenge-slider {
  border: 2px solid blue;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

/*******Challenge slide********/
.challenge-slide {
  border: 2px solid;
  height: 200px;
  margin: 10px;
  padding: 5px;
}

.challenge-title {
  min-height: 100px;
  padding-left: 5px;
}

.challenge-footer {
  border-top: 1px solid gray;
  text-align: center;
}

.challenge-type {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px solid gray;
}

.challenge-season {
  float: right;
  width: 45%;
}

.dif-3 {
  border-color: blue;
}

.dif-4 {
  border-color: red;
}

.dif-2 {
  border-color: yellow;
}

.dif-1 {
  border-color: green;
}

/********Slider**********/
