html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  text-align: center;
}

.container {
  flex: 1 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.wrapper {
  flex: 1;
}

/***********Title******************/
.title-container {
  border: 2px solid red;
  width: 100%;
  text-align: center;
}

/**********Challenge slider*******/
.challenge-slider {
  border: 2px solid blue;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

/*******Challenge slide********/
.challenge-slide {
  border: 2px solid;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

.challenge-slide:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.challenge-title {
  min-height: 65%;
  padding-left: 5px;
  font-weight: bold;
  font-size: 16px;
}

.challenge-footer {
  border-top: 1px solid gray;
  text-align: center;
  height: 50px;
}

.challenge-type {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px solid gray;
}

.challenge-season {
  float: right;
  width: 45%;
}

.dif-3 {
  border-color: blue;
}

.dif-4 {
  border-color: red;
}

.dif-2 {
  border-color: yellow;
}

.dif-1 {
  border-color: green;
}

/********Active card******/
.active.challenge-slide {
  transform: scale(1.05);
  border-width: 3px;
}

/**********Contestant slider*******/
.contestant-slider {
  border: 2px solid green;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

/*******Contestant slide********/
.contestant-slide {
  border: 2px solid;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

.contestant-slide:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.contestant-title {
  color: white;
  height: 15%;
  text-align: center;
  vertical-align: sub;
  padding: 5%;
}

.contestant-rank {
  font-weight: bold;
  font-size: 30px;
}

.contestant-points {
  padding-left: 5px;
}

.ghost {
  border-color: black;
}

.no-ghost {
  border-color: darkblue;
}

.ghost > .contestant-title,
.contestant-team {
  background-color: black;
  border: 1px solid black;
}

.no-ghost > .contestant-title,
.contestant-team {
  background-color: darkblue;
  border: 1px solid darkblue;
}

.contestant-team {
  height: 10%;
  text-align: center;
  padding: 5%;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.contestant-members {
  max-height: 40%;
}

/********Active card******/
.active.challenge-slide {
  transform: scale(1.05);
  border-width: 3px;
}

/*******Load gif********/
.load-gif {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 30%;
  left: 50%;
}

/********Footer********/
.footer {
  flex-shrink: 0;
  height: 20vh;
  background: gray;
  color: white;
  text-align: center;
}
